body {
    margin: 0;
    background: linear-gradient(rgb(98, 206, 248), rgb(31, 72, 184));
    text-align: center;
}
h1{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    font-size: 80px;

    animation: mySlide;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
}
p{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    font-size: 25px;

    animation: mySlide;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;

}

@keyframes mySlide{
    from{margin-top: 100%;}
    to{margin-top: 0%;}
}